@import '../../styles/variables';

.chat {
  display: flex;
  flex-direction: column;
  border: solid 1px $bgColorGray;
  padding: 10px;
  width: 300px;
}

.message__block {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.message {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 20px;
  min-width: 70px;
  max-width: 300px;
  padding: 15px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: self-end;
  }

  &__incoming-time {
    margin: 5px;
    font-size: 0.7rem;
    font-family: $mainFontThin;
    color: $postDateColor;
  }

  &__owner {
    color: $bgColorGray;
  }
}

.yours {
  align-items: flex-start;
  justify-content: flex-start;

  .message {
    position: relative;
    margin-right: 20px;
    padding: 10px 10px 10px 15px;
    background-color: $bgColorGray;
    color: $fontColorLight;
  }
}

.mine {
  justify-content: flex-end;
  align-items: flex-end;

  .message {
    position: relative;
    background-attachment: fixed;
    padding: 7px 7px 7px 15px;
    background-color: $bgColorLight;
    color: $fontColorLight;
  }
}

.message-status {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  min-width: 35px;
  height: 10px;

  &__post-time {
    position: absolute;
    vertical-align: top;
    right: 3px;
    bottom: -6px;
    font-size: 0.7rem;
  }
}
