@import '../../styles/variables';

:host {
  max-height: 70px;
  margin-bottom: 10px;
}

.user {
  position: relative;
  display: block;
  width: 50px;

  &__wrapper {
    padding: 15px;
  }

  &__status {
    position: absolute;
    right: 0;
    bottom: 2px;
    padding: 0 3px;
    border-radius: 50%;
    color: $postDateColor;
  }

  &__picture {
    border-radius: 50%;
    width: 100%;
    background-color: $borderColorLight;
  }
}

.online {
  border: 2px solid $userOnlineColor;
  padding: 1px 3px;
  color: $userOnlineColor;

  &:after {
    content: '';
    display: block;
    transform: rotate(45deg);
    width: 3px;
    height: 6px;
    border: 1px solid $userOnlineColor;
    border-width: 0 2px 2px 0;
  }
}

.offline {
  bottom: 2px;
  right: -3px;
  opacity: 0.5;
  border: 2px solid $bgColorGray;
  width: 6px;
  height: 6px;
  padding: 6px;

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    bottom: -1px;
    right: 5px;
    width: 2px;
    height: 15px;
    background-color: $bgColorGray;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

}

@media screen and (max-width: 736px) {
  :host {
    margin-bottom: 0;
  }

  .user {
    display: none;

    &__wrapper {
      display: none;
    }
  }
}
