@import '../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
  background-color: $fontColorLight;
}

.sidebar {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: $borderColorLight;
  }

  &__user {
    border-bottom: 1px solid $borderColorLight;
    background-color: $bgColorMediumLight;
  }

  &__chat-list {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 400px;
    height: 333px;

  }

  &__title {
    margin: 25px 15px 35px 15px;
    font-family: $mainFontThin;
    font-size: 1.5rem;
    color: $fontColorBlue;
  }
}

.search-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  &__input {
    margin: 0 auto;
    outline: none;
    border: 1px solid $borderColorLight;
    border-radius: 20px;
    width: 90%;
    height: 35px;
    padding: 2px 20px 2px 25px;
    background-color: $bgColorMaxLight;
    font-size: 0.8rem;
  }

  &__icon {
    position: absolute;
    left: 7%;
    width: 12px;
    height: 12px;
    cursor: pointer;
    filter: sepia(10%);
  }
}
