@import '../../styles/variables';

.chat-item {
  display: flex;
  border-bottom: 1px solid $borderColorLight;
  width: 100%;

  &__chat-name {
    margin-bottom: 5px;
  }

  &__last-message {
    font-size: .7rem;
    color: $fontColorDark;
  }

  &__info {
    width: 60%;
    padding: 15px 5px;
  }

  &__date {
    width: 25%;
    padding-top: 15px;
    font-size: .7rem;
    text-align: center;
    font-family: $mainFontThinItalic;
    color: $fontColorDark;
  }
}