@font-face {
  font-family: MrEavesXL-bold;
  src: url("/assets/fonts/MrEavesXLModNarOT-Bold.ttf");
}

@font-face {
  font-family: MrEavesXL-thin;
  src: url("/assets/fonts/MrEavesXLModOT-Thin.ttf");
}

@font-face {
  font-family: MrEavesXL-regular;
  src: url("/assets/fonts/MrEavesXLModOT-Reg.ttf");
}

@font-face {
  font-family: MrEavesXL-ThinItalic;
  src: url("/assets/fonts/MrEavesXLModOT-ThinItalic.ttf");
}
