$bgColorDark: #292929;
$bgColorMedium: #f9f9f9;
$bgColorLight: #e0e0e0;
$fontColorDark: #686868;
$fontColorLight: #ffffff;
$bgColorGray: #3c4252;
$postDateColor: rgb(158, 155, 155);

$mainFontBold: Montserat-bold;
$mainFontThin: Montserat-italic;
$mainFontRegular: Montserat-regular;
