$bgColorDark: #292929;
$bgColorMedium: #f9f9f9;
$bgColorLight: #e0e0e0;
$fontColorDark: #686868;
$fontColorLight: #ffffff;
$bgColorGray: #3c4252;
$postDateColor: rgb(158, 155, 155);
$borderColorLight: rgb(240, 240, 240);
$bgColorMediumLight: rgb(245, 245, 245);
$bgColorMaxLight: rgb(250, 250, 250);

$mainFontBold: MrEavesXL-bold;
$mainFontThin: MrEavesXL-thin;
$mainFontRegular: MrEavesXL-regular;
$mainFontThinItalic: MrEavesXL-ThinItalic;
